#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 1em;
  margin: 2em;
  width: 80vw;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content > * {
  margin-bottom: 1em;
}
